<?xml version="1.0"?>
<config>
  <modules>
    <Scriptlodge_Datapass>
      <version>0.1.0</version>
    </Scriptlodge_Datapass>
  </modules>
  <frontend>
    <routers>
      <datapass>
        <use>standard</use>
          <args>
            <module>Scriptlodge_Datapass</module>
            <frontName>datapass</frontName>
          </args>
      </datapass>
    </routers>
		<layout>
		  <updates>
			<datapass>
			  <file>datapass.xml</file>
			</datapass>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <datapass>
        <class>Scriptlodge_Datapass_Helper</class>
      </datapass>
    </helpers>
	<!--blocks>
	  <datapass>
		<class>Scriptlodge_Datapass_Block</class>
	  </datapass>
	</blocks-->
	<models>
	  <datapass>
		<class>Scriptlodge_Datapass_Model</class>
		<resourceModel>datapass_mysql4</resourceModel>
	  </datapass>
	  <datapass_mysql4>
		<class>Scriptlodge_Datapass_Model_Mysql4</class>
		<entities>		  
			  <datapass>
				<table>datapass</table>
			  </datapass>
        </entities>
	  </datapass_mysql4>
	</models>
	<resources>
	  <datapass_setup>
		<setup>
		  <module>Scriptlodge_Datapass</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </datapass_setup>
	  <datapass_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </datapass_write>
	  <datapass_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </datapass_read>
	</resources>
         <events>
            <controller_action_predispatch_customer_account_login>
                <observers>
                    <customer_account_predispatch_login_observer>
                        <class>datapass/observer</class>
                        <method>getDatapasskey</method>
                    </customer_account_predispatch_login_observer>
                </observers>
            </controller_action_predispatch_customer_account_login>
            <customer_register_success>
                <observers>
                    <customer_account_register_observer>
                        <class>datapass/observer</class>
                        <method>sendDatapassRequest</method>
                    </customer_account_register_observer>
                </observers>
            </customer_register_success>            
        </events>
  </global>  
  <admin>
	<routers>
	  <datapass>
	    <use>admin</use>
		<args>
		  <module>Scriptlodge_Datapass</module>
		  <frontName>admin_datapass</frontName>
		</args>
	  </datapass>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <datapass module="datapass">
		<title>Datapass</title>
		<sort_order>100</sort_order>
		<children>
		  <datapassbackend module="datapass">
			<title>Backend Page Title</title>
			<sort_order>0</sort_order>
			<action>admin_datapass/adminhtml_datapassbackend</action>
		  </datapassbackend>
		</children>
	  </datapass>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<datapass translate="title" module="datapass">
			  <title>Datapass</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <datapassbackend translate="title">
			<title>Backend Page Title</title>
		  </datapassbackend>
			  </children>
			</datapass>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<datapass>
		  <file>datapass.xml</file>
		</datapass>
	  </updates>
	</layout>
  </adminhtml>
</config> 